[Desktop Entry]
Name=CMus Music Player
Comment=Terminal based music player
Exec=cmus
Icon=multimedia-audio-player
Type=Application
Terminal=true
X-XClassHintResName=CMus
Categories=Media;Multimedia;
