#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DevOps - Microsoft OneNote Online
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 5" --app-id=kmcofkgalecfbnfapebejhkoejcfgfak
Icon=chrome-kmcofkgalecfbnfapebejhkoejcfgfak-Profile_5
StartupWMClass=crx_kmcofkgalecfbnfapebejhkoejcfgfak
