#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slack
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 3" --app-id=fbpgchjcjgclfkclfhppcdgoanfalmjd
Icon=chrome-fbpgchjcjgclfkclfhppcdgoanfalmjd-Profile_3
StartupWMClass=crx_fbpgchjcjgclfkclfhppcdgoanfalmjd
